*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	width: 100%;                    						/* 100% width of parent (root) element */
  height: 100vh;                              /* 100% height of viewport */
  background: rgba(0, 0, 0, 0.1);             /* 10% black */
	font-family: arial, verdana, sans-serif, tahoma, helvetica, courier;
	font-size: 62.5%;														/* our root font size - 10px */
	/*font-size: 1em;                             * our root font size - 16px */
}

body{
	font-size: 1rem;
	color: rgba(23, 23, 23, 0.65);
}

a{
	text-decoration: none;
}

/* h1 font-size in normalize.css is 2em => 2 x 16px = 32px */
h1{
  font-size: 2em;
  margin: 0.5rem;
}

h2{                                         
  font-size: 1.8rem;
  margin: 0.5rem;
}

h3{                                          
  font-size: 1.6rem;
  margin: 0.5rem;
}

h4{                                         
  font-size: 1.4rem;
  margin: 0.5rem;
}

p{                                                
  margin: 0.5rem;
}

.wrapper{
	width: 98%;
	margin: 0 auto;
	padding: 1rem;
}

header{
	width: 100%;
	height: 4rem;
	background-color: #938303;
}

header a{
	margin: 1rem;
}

header ul{
	/*width: 100%;*/
	height: 4rem;				/* why is height: 100%; not working in this case? */
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.8rem;
	margin-right: 1.5rem;
}

header li{
	width: 10rem;
	text-align: center;
	text-transform: capitalize;
}

/*
main {
	width: 95%;
  min-height: calc(100vh - 100px); * header=40px, footer=40px, .wrapper padding-top=10px, .wrapper padding-bottom=10px => total=100px*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.house{
	width: 25rem;
	margin: 0.5rem;
	*box-shadow: ;*
	text-align: center;
}
*/

main {
	width: 95%;
  min-height: calc(100vh - 100px); /* header=40px, footer=40px, .wrapper padding-top=10px, .wrapper padding-bottom=10px => total=100px*/
  display: grid;
  grid-template-columns: repeat(5, minmax(25rem, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.house{
	/*width: 25rem;
	margin: 0.5rem;
	box-shadow: ;*/
	text-align: center;
}

.house img{
	width: 20rem;
	height: 20rem;
}

footer{
	width: 100%;
	height: 4rem;
	background-color: #938303;
	text-align: center;
	line-height: 4rem;
	font-size: 1.8rem;
}




@media screen and (min-width: 481px){
	.feedbacks{
		grid-template-columns: repeat(2, minmax(20rem, 1fr));
	}
}

@media screen and (min-width: 768px){
	.mobile-menu{
		display: none;
	}

	nav ul{
		position: static;
		display: flex;
		flex-direction: row;
		background: none;
	}

	nav li{
		
	}

	nav li:hover{
		
	}

	nav a{
		color: #ffffff;
	}

	.header-bottom{
		flex-direction: row;
	}

	.promo{
		width: 30%;
	}

	.promo-image{
		width: 50%;
	}

	.feedbacks{
		grid-template-columns: repeat(3, minmax(20rem, 1fr));
	}
}

@media screen and (min-width: 1024px){
	.feedbacks{
		grid-template-columns: repeat(4, minmax(20rem, 1fr));
	}
}







