*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	width: 100%;                    						/* 100% width of parent (root) element */
  height: 100vh;                              /* 100% height of viewport */
  background: rgba(0, 0, 0, 0.1);             /* 10% black */
	font-family: arial, verdana, sans-serif, tahoma, helvetica, courier;
	font-size: 62.5%;														/* our root font size - 10px */
	/*font-size: 1em;                             * our root font size - 16px */
}

body{
	font-size: 1rem;
	color: rgba(23, 23, 23, 0.65);
}

a{
	text-decoration: none;
}

/* h1 font-size in normalize.css is 2em => 2 x 16px = 32px */
h1{
  font-size: 2em;
  margin: 0.5rem;
}

h2{                                         
  font-size: 1.8rem;
  margin: 0.5rem;
}

h3{                                          
  font-size: 1.6rem;
  margin: 0.5rem;
}

h4{                                         
  font-size: 1.4rem;
  margin: 0.5rem;
}

p{                                                
  margin: 0.5rem;
}

.wrapper{
	width: 98%;
	margin: 0 auto;
	padding: 1rem;
}

header{
	width: 100%;
	height: 4rem;
	background-color: #938303;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo{
	/*width: 3rem;*/
	height: 3rem;
	margin-left: 2rem;
	line-height: 3rem;
}

.logo a{
	color: #ffffff;
	height: 100%;
	position: relative;
}

.logo img{
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
}

.logo span{
	font-size: 1.8rem;
	font-weight: bold;
	/*line-height: 3rem;*/
	position: absolute;
	top: -2rem;        /* why -2rem??? */
	left: 3.5rem;
	color: #ee0000;
}

.hide-menu{
	transition: all 0.5s linear;
	transform: translateY(-150%);
	/*transform: translateX(150%);*/
}

.show-menu{
	transform: translateY(0);
	/*transform: translateX(0);*/
}

.remove-menu{
	display: none;
}

/*nav ul{
	position: absolute;
	top: 5rem;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	background: rgba(255, 255, 255, 0.8);
}
*/

.mobile-menu{
	font-size: 2rem;
	color: #ffffff;
	display: block;
	width: 3rem;
	height: 3rem;
	text-align: center;
	line-height: 3rem;
}

nav ul{
	position: absolute;
	top: 5.5rem;
	right: 0;
	/*width: 100%;*/
	/*height: 4rem;				* why is height: 100%; not working in this case? */
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1.8rem;
	margin-right: 1.5rem;
	z-index: 99;
	background-color: #938303;
}

/*nav li{
	width: 10rem;
	text-align: center;
	text-transform: capitalize;
}*/

nav li{
	width: 12rem;
	height: 4rem;
	text-transform: capitalize;
	text-align: center;
	font-size: 1.8rem;
	line-height: 4rem;
}

nav li:hover{
	background: rgba(0, 0, 0, 0.8);
}

/*nav li a{
	width: 100%;
	height: 3rem;
	margin: 1rem;
	color: #ffffff;
	font-weight: bold;
}*/

nav li a{
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-weight: bold;
}

/*
main {
	width: 95%;
  min-height: calc(100vh - 100px); * header=40px, footer=40px, .wrapper padding-top=10px, .wrapper padding-bottom=10px => total=100px*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.house{
	width: 25rem;
	margin: 0.5rem;
	*box-shadow: ;*
	text-align: center;
}
*/

main {
	width: 95%;
  min-height: calc(100vh - 100px); /* header=40px, footer=40px, .wrapper padding-top=10px, .wrapper padding-bottom=10px => total=100px*/
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.house{
	/*width: 25rem;
	margin: 0.5rem;
	box-shadow: ;*/
	text-align: center;
}

.house img{
	width: 20rem;
	height: 20rem;
}

footer{
	width: 100%;
	height: 4rem;
	background-color: #938303;
	text-align: center;
	line-height: 4rem;
	font-size: 1.8rem;
}




@media screen and (min-width: 481px){
	main{
		grid-template-columns: repeat(2, minmax(20rem, 1fr));
	}
}

@media screen and (min-width: 768px){
	.mobile-menu{
		display: none;
	}

	/*nav ul{
		display: flex;
	}*/

	nav ul{
		position: static;
		display: flex;
		flex-direction: row;
		background: none;
		height: 4rem;
	}

	nav ul{
		position: static;
		display: flex;
		flex-direction: row;
		background: none;
	}

	nav li{
		width: 10rem;
		height: 100%;
		margin: 0 1rem;
	}

	/*nav li:hover{
		border-bottom: 0.2rem solid #ffffff;
		background: none;
	}*/

	nav a{
		color: #ffffff;
	}

	main{
		grid-template-columns: repeat(3, minmax(20rem, 1fr));
	}
}

@media screen and (min-width: 1024px){
	main{
		grid-template-columns: repeat(5, minmax(20rem, 1fr));
	}
}






